<div data-role="view" data-model="app.home" data-before-show="app.home.beforeShowInicioVendedor"  data-show="app.home.onShowInicioVendedor" data-after-show="app.home.afterShowInicioVendedor">
    <div id="inicioVendedorModel">
        <h2>
            Bienvenido
            <label id="userVendedor"></label>
        </h2>
        <h3>
            Tu rol es
            <label>VEDEDOR</label>
        </h3>
        <h3>
            Recorridos vendedores
        </h3>

        <ul class="list-group">
            <li class="list-group-item" data-role="listview" data-source="dsVendedores" data-auto-bind="true" data-template="vendedores-template">
            </li>
        </ul>

        <script type="text/x-kendo-template" id="vendedores-template">    	
                #: data.name #		
        </script>

        <script>
            var dsVendedores = new kendo.data.DataSource({
                data: [
                    { name: "Carlos"},
                    { name: "Juan"},
                    { name: "Marcos"},
                ],
            }); 
        </script>

        <h3>
            Opciones
        </h3>
        <div class="container-fluid">
            <div class="btn-group-vertical btn-group-lg" style="width:100%;">
                <button type="button" class="btn btn-sm btn-success" data-bind="events: { click: inicioVendedorModel.nuevaPosVendedor }">
                    Marca tu posicion
                </button>
                <button type="button" class="btn btn-sm btn-info" style="margin-top:5px;" data-bind="events: { click: inicioVendedorModel.terminar }">
                    Terminar
                </button>
            </div>
        </div>
    </div>
</div>