<div data-role="view" data-model="app.home" data-before-show="app.home.beforeShowInicioVendedor"  data-show="app.home.onShowInicioVendedor" data-after-show="app.home.afterShowInicioVendedor">
    <div id="inicioVendedorModel">
        <h2>
            Bienvenido
            <label id="userVendedor"></label>
        </h2>
        <h3>
            Tu rol es
            <label>VEDEDOR</label>
        </h3>
        <h3>
            Otros vendedores
        </h3>
        
        <div class="container-fluid" style="margin-left:5px;width:98%;">
        <!-- km-listview-wrapper km-widget km-listview km-list {DIV nest DIV} -->
         <div class="km-listview-wrapper" style="margin-bottom:2px;">
            <div class="km-widget km-listview km-list">
                <li>
                     <div class="row ">
                        <div class="col-xs-6">
                            <b>Nombre</b>
                         </div>
                        <div class="col-xs-6">
                            <b>TOT. Posiciones</b>
                         </div>
                     </div>
                </li>
            </div>             
         </div>
            
            <div data-role="listview" data-source="dsVendedores" data-auto-bind="true" data-template="vendedores-template">
            </div>
        </div>
       
        <script type="text/x-kendo-template" id="vendedores-template">
            <div class="row">
                <div class="col-xs-6">#:data.name#</div>
                <div class="col-xs-6">#:data.totPosiciones#</div>
            </div>
        </script>

        <script>
            var dsVendedores = new kendo.data.DataSource({
                data: [
                    { name: "Carlos", totPosiciones: 3},
                    { name: "Juan", totPosiciones: 5},
                    { name: "Marcos", totPosiciones: 4},
                ],
            }); 
        </script>

        <h3>
            Opciones
        </h3>
        <div class="container-fluid">
            <div class="btn-group-vertical btn-group-lg" style="width:100%;">
                <button type="button" class="btn btn-sm btn-success" data-bind="events: { click: inicioVendedorModel.nuevaPosVendedor }">
                    Ubica tu posicion
                </button>
                <button type="button" class="btn btn-sm btn-info" style="margin-top:5px;" data-bind="events: { click: inicioVendedorModel.terminar }">
                    Terminar
                </button>
            </div>
        </div>
    </div>
</div>