<div data-role="view" data-model="app.home" data-before-show="beforeShowViewPosVendedor" data-show="app.home.onShowViewPosVendedor" 
     data-after-show="app.home.afterShowViewPosVendedor" data-hide="app.home.onHideViewPosVendedor">
    <div id="viewPosVendedor">
        <h3>
            <label id="vendedorPosicion"></label>, todas tus posicions en el mapa
        </h3>
        
        <div id="mapPosVendedor" style="width:100%;height:300px;">
            <div class="container-fluid">
                <div class="row">
                    <h3>
                        Por favor espsera un momento estamos ubicando tu posicion...
                    </h3>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="btn-group-vertical btn-group-lg" style="width:100%;">
                <button type="button" class="btn btn-sm btn-success" style="margin-top:5px;" data-bind="events: { click: viewPosVendedor.inicioVendedor }">
                    Volver a inicio
                </button>
                <button type="button" class="btn btn-sm btn-info" style="margin-top:5px;" data-bind="events: { click: viewPosVendedor.terminar }">
                    Terminar
                </button>
            </div>
        </div>               
    </div>
</div>